<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985501114281-srbdf943f60srrmij5rb9qngnd4gq48d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985501114281-srbdf943f60srrmij5rb9qngnd4gq48d</string>
	<key>API_KEY</key>
	<string>AIzaSyBItEROQfbYVNucKvZxjAxZS3BO4thnmyU</string>
	<key>GCM_SENDER_ID</key>
	<string>985501114281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.galleryfound</string>
	<key>PROJECT_ID</key>
	<string>gallery-found</string>
	<key>STORAGE_BUCKET</key>
	<string>gallery-found.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985501114281:ios:b802d389dea42d4b826eb8</string>
</dict>
</plist>