body {
  background: #eceff1;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* ページ内メインコンテンツ */
#contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto 16px;
}

p.desc-message {
  font-size: 1.2em; /* フォントサイズを少し大きく */
  color: #666; /* 色を薄めのグレーに */
  max-width: 600px; /* 最大幅を制限 */
  margin: 2em auto; /* 中央寄せ */
}

.div-left-align {
  margin-left: 0;
}

/* アプリ紹介 */
.app-description {
  display: flex;
  align-items: center;
}

/* 画像が左側の場合 */
.left-align .screenshot {
  margin-right: 20px;
}

/* 画像が右側の場合 */
.right-align {
  flex-direction: row-reverse;
}

.right-align .screenshot {
  margin-left: 20px;
}

.screenshot {
  width: 160px;
  overflow: hidden;
  object-fit: cover;
  object-position: top;
  clip-path: inset(0 0 25% 0); /* 上部4/5を表示 */
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent);
  mask-image: linear-gradient(to bottom, black 10%, transparent);
}

.description-text {
  flex: 1;
}

/* 箇条書き項目 */
ul {
  list-style-type: none;
}

/* アプリダウンロードボタン */
#dl-buttons {
  padding: 0;
  display: flex;
  justify-content: center;
}

#dl-buttons img {
  height: 60px;
  margin: 10px 20px;
}

.image-link-wrapper {
  position: relative;
  display: inline-block;
}

.disabled-link {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

.overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
}

/* 404ページ */
@font-face {
  font-family: 'YojoFont';
  src: url('/assets/yojo.woff') format('woff');
}
@font-face {
  font-family: 'comesinhandyfont';
  src: url('/assets/comesinhandy.ttf') format('truetype');
}

h2.yojo-font {
  font-family: 'YojoFont', sans-serif;
  font-size: 60px;
}

h2.comesinhandy-font {
  font-family: 'comesinhandyfont', sans-serif;
  font-size: 45px;
  color: rgba(114, 114, 114, 0.47);
}

h2.yojo-font,
h2.comesinhandy-font {
  margin: 0.3em 0;
  font-weight: bold;
}
