/*
 * ログイン画面のスタイルを記述
 */
 
/* ログインボタン */
#login-buttons {
  list-style-type: none;
  padding: 0;
  justify-content: center;
}
#input-id[type="text"],#input-pwd[type="password"],
#input-pwd-confirm[type="password"]{
  width: 180px;
   height: 20px;
  font-size: medium;
  margin: 0.2em 0;
  padding: 0.5em;
  border: solid 2px #e3e3e6ea ;
  border-radius: 10px;

}
/* フォーカス時のスタイル */
#input-id[type="text"]:focus,#input-pwd[type="password"]:focus,
#input-pwd-confirm[type="password"]:focus {
  border-color: #a4cce7; /* 線の色 */
  outline: 0;
}


.login-button {
  width: 300px;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  margin: 0.3em;
  padding: 0.6em 1em 0.6em 1em;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 10rem;
  box-shadow:0 1px 3px 0 #898282 ;
}

.login-iconfont {
  font-size: 1em;
  margin: 0;
}

.login-mail {
  color: #fff;
  background-color: #de8c51;
  border: 1px solid #ccc
}
.login-google {
  color: #fff;
  background-color: #4285F4;
}

.login-register {
  color: #000;
  background-color: #fff;
  border: 1px solid black;
  
}

/* ログイン時のエラー */
.login-error {
  display: flex;
  color: red;
}
